<div class= container >

        <h5>
          <div class="font-weight-bold">
            本当に退会しますか？
          </div>
        </h5>

  <div class="form-inline">
      <div class="form-group" style="height:80px">
          <div class="actns" >
<%= link_to "退会する", user_out_path(@user), method: :patch, class: "ml-2 btn px-5  btn-danger font-weight-bold d-flex"  %>
　　　</div>
  　</div>
  <div class="form-group" style="height:80px">
    <div class="actns" >
  <%= link_to "退会しない",user_path(@user), class: "ml-2 btn px-5  btn-success font-weight-bold d-flex" %>
  　         </div>
          </div>
      </div>
   </div>
</div>