<div id="comments_area">
  <%= render 'users/game_comments/game_comments', game_comments: @game_comments %>
</div>

 <div class="new-game_comment">
  <%= render 'users/game_comments/form', game: @game, game_comment: @game_comment %>
</div>


   